body {
  height: auto;
}
#todos-container {
  width:100%;
  min-height: 100vh;
  max-width: 450px;
  transition: opacity 0.6s;
  margin: 3em 0 2em 0;
}
#pagination-nav {
  position: absolute;
  bottom: 2em;
  border: 2px solid rgb(71 110 215);
  background-color: rgba(255, 255, 255, 0);
}
.pagination {
  display: flex;
  list-style: none;
}
.pagination li {
  padding: 0.25em 0.5em;
  border-right: 1px solid rgb(71 110 215);
}
.pagination li:first-child {
  border-left: none;
}
.pagination li:last-child {
  border-right: none;
}
.page-link {
  text-decoration: none;
  color: #fff;
  font-family: "Lucida Sans", sans-serif;
  font-size: 1em;
}
.active {
  background-color: rgb(71 110 215);
}

/* lists from server */
.todolist {
  margin-bottom: 1.5em;
  border-radius: 5px;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(61, 61, 61);
}
.title-reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-date {
  width: 80%;
  display: flex;
  align-items: center;
}
.todo-title {
  font-weight: bold;
}
.dueDate {
  margin-left: 0.5em;
  font-size: 0.75em;
  color: rgb(61, 61, 61);
}
.description {
  margin: 0.5em 0 1em 0;
}
/* modify inputs which we set in style.css file */
input {
  width: 15px;
  /* height: 10%; */
}
/* Edit and Delete buttons */
.edit,
.delete {
  cursor: pointer;
}
/* Modal for Delete */
.delete-modal {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
#delete-modal-window {
  width: 70%;
  max-width: 450px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1.5em;
  margin: 10em auto;
  color: black;
}
#delete-modal-window p {
  margin: 1em 0;
}
#modal-title {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#modal-title h3 {
  color: rgb(61, 61, 61);
}
#modal-title span {
  color: red;
  margin-right: 0.5em;
  font-weight: bold;
}
#item-container{
  display: flex;
  align-items: center;
}
#item-container h4{
  font-weight: bold;
  color: rgb(61, 61, 61);
}
#item-container p{
  font-size: 0.75em;
  margin-left: 0.75em;
  color: rgb(102, 102, 102);
}
#modal-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}
#modal-btns button {
  width: 45%;
  padding: 0.75em;
  border: none;
  border-radius: 5px;
}
